# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# Our Global Owners: @dizcology @sirtorry @andrewferlitsch @lucaswadedavis @vinnysenthil @telpirion @aribray
*       @GoogleCloudPlatform/cloudml-samples-owners

# Datasets Subfolder
/datasets @dizcology

# Notebooks Subfolder
/notebooks @sirtorry @thedriftofwords

# Prediction Subfolder
/prediction/pytorch @sirtorry
/prediction/sklearn @sirtorry
/prediction/tensorflow @dizcology
/predition/xgboost @sirtorry

# Quickstart Subfolder
/quickstart @dizcology

# Setup Subfolder
/setup @dizcology

# Training Subfolder
/training/pytorch @sirtorry
/training/sklearn @sirtorry
/training/tensorflow @dizcology
/training/xgboost @sirtorry

# READMEs
*.md @dizcology
