[Unit]
Description=AI Platform Notebooks Collection Agent

[Service]
Type=simple
PIDFile=/run/notebooks_collection_agent.pid
ExecStart=/bin/bash --login -c '/opt/conda/bin/python /opt/deeplearning/bin/notebooks_collection_agent.py'
User=root
Group=root
WorkingDirectory=/root
Restart=always

[Install]
WantedBy=multi-user.target
