[Unit]
Description=Nova Jupyter Plugin Servie
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=jupyter
ExecStart=/usr/bin/nova-local-agent.sh

[Install]
WantedBy=multi-user.target
